/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 128px; /* Stay at the top */
  left: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.menuCategoryHeader {
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
  letter-spacing: .44px;
  color: #000;
  opacity: .3;
  padding: 3px;
  margin: 0 10px;
}

.menuCategoryActive {
  opacity: .8;
}

.viewAllBtn {
  display: block;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 75%;
  background: #000;
  font: normal normal normal 24px/31px 'Bebas Neue';
  letter-spacing: .64px;
  color: #fff;
}
.login-sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 128px; /* Stay at the top */
  right: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.login-sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.login-sidenav a {
  /*padding: 8px 8px 8px 32px;*/
  text-decoration: none;
  color: #333;
  display: block;
  transition: 0.3s;
  text-align: right;
  font-size: 15px;
}
.login-sidenav a:hover {
  color: #f1f1f1;

}
.login-sidenav .form-input {
  border: 1px solid #ebebeb;
  background: #fefefe;
  border-radius: 0;
  text-align: left;
  font: normal normal 500 16px/31px 'Bebas Neue';
  letter-spacing: .64px;
  color: #000;
  opacity: 1;
  width: 100%;
  padding: 0.75rem 1rem;
}
.login-sidenav .form-field {
  margin-bottom: 10px;
}
.login-sidenav .login-form-full {
  padding-bottom: 20px;
  margin-bottom: 20px;
  width: 95%;
}

.login-sidenav .button {
  text-align: center;
  font: normal normal normal 20px/31px 'Bebas Neue';
  letter-spacing: .64px;
  color: #fff;
  opacity: 1;
  background: #000;
  width: 100%;
  display: block;
  padding: 10px;
  border-radius: 0;
  margin-top: 7px;
  text-decoration: none;
  margin-bottom: 0;
}
.form {
  margin: 0 0 1.5rem;
}
.signin-title {
  font-size: 25px;
}
.form-actions-drop .a {
  text-align: right;
  margin-bottom: 5px;
}

.divider {
  width: 85%;
  margin-left: 3rem;
}
.new-user-div {
  font-size: 20px;
}
