.menu_list {
  text-align: left;
  font-family: italic normal Rift, serif;
  letter-spacing: .44px;
  color: #000;
  opacity: .8;
  white-space: nowrap;
  cursor: pointer;
}
.font {
  font-family: 'Bebas Neue', cursive;
}
.custom-text-button,
.custom-outlined-button {
  --mdc-theme-primary: #000000;


}
.form-group .form-control {
  padding-left: 2.375rem;
  box-shadow: none;
  user-focus: none;
}

.form-group .form-control-icon {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
}

.center {
  text-align: center;
  align-self: center;
}
.center-left {
  text-align: left;
  align-self: center;
}

.center-right {
  text-align: right;
  align-self: center;
}
.first-item-bg {
  background-color: rgb(207, 217, 202);
}

.second-item-bg {
  background-color: #92f5f7;
}
.carousel-inner > .carousel-item > img {
  width:640px;
  height:1000px;
}
.footer.bf_footer{
  background: #000;
  padding: 0;
  border-color: #000;
  position: relative;

}
.new_footer_wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.new_footer_wrap .contact_box h3 {
  color: #fff;
  margin: 18px 0 30px;
  font: normal normal 600 14px/15px Hellix;
  letter-spacing: .56px;
}
.new_footer_wrap .contact_box a.help_chat {
  background: #fff;
  opacity: 1;
  display: block;
  padding: 9.5px 20px;
  text-align: center;
  color: #000;
  margin: 0 auto;
  position: relative;
  text-decoration: none;
  font: normal normal normal 14px/30px Rhode;
  text-transform: uppercase;
  border-radius: 5px;
}

.header-icon {
  font-size: 28px;
}

.text-justify {
  -moz-text-align-last: justify;
}

.vertical-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.contact_box {
  background: #000;
  min-width: 500px;
  border-right: 2px solid #141414;
}
.options_box {
  background: #000;
  min-width: 500px;
  border-right: 2px solid #141414;
}

.help_chat {
  background: #fff;
  opacity: 1;
  display: block;
  padding: 9.5px 20px;
  text-align: center;
  color: #000;
  margin: 0 auto;
  position: relative;
  text-decoration: none;
  font: normal normal normal 20px/30px 'Bebas Neue';
  text-transform: uppercase;
  border-radius: 5px;
}

.help_grey {
  text-align: center;
  font: normal normal normal 20px/30px 'Bebas Neue';
  text-transform: uppercase;
  letter-spacing: .64px;
  color: #fff;
  opacity: 1;
  background: rgba(255,255,255,.1);
  display: block;
  margin: 8px auto 0;
  padding: 9.5px 20px;
  text-decoration: none;
  border-radius: 5px;
}
a:hover {
}
.contact_box h3 {
  color: #fff;
  margin: 18px 0 30px;
  font: normal normal 600 18px/30px 'Bebas Neue';
  letter-spacing: .56px;
}
.none-padding {
  padding: 0 0 0 0 !important;
}

.support-list {
  font: normal normal 600 18px/30px 'Bebas Neue';
  list-style: none;
}
.support-list a{
  font: normal normal 600 18px/30px 'Bebas Neue';
  list-style: none;
  text-decoration: none;
  letter-spacing: .32px;
  color: #fff;
  opacity: .8;
}
.support-list a:hover {
  color: #f1f1f1;
  opacity: .3;
}

.create-account-container {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.create-account-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
/*  background-color: black;
  color: white;
  border-radius: 15px 50px;
  font-size: 24px;
  font-family: 'Bebas Neue', serif;
  padding: 10px 10px 10px 10px;
  display: inline-block;*/
color: black;
}
